@media screen and (min-width: 768px) {

  /* *****************HEADER************************ */
  .logo {
    font-size: 3rem;
  }

  .menu-container {
    width: 90%;
    visibility: visible;
    opacity: 1;
  }

  .menu-container .menu {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
  }


  .menu-container .menu .enlace {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    font-size: 1.4rem;
    overflow: hidden;
    color: black;
    z-index: 1;
    text-decoration: none;
    border: thin solid transparent;
    outline: none;
  }

  .enlace:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }

  .enlace:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #39bda7;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }

  .enlace:hover {
    color: #ffffff;
    border: 1px solid #39bda7;
  }

  .enlace:hover:before {
    top: -35%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }

  .enlace:hover:after {
    top: -45%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }


  .menu a:hover {
    cursor: pointer;
    background-color: #dce4e7;
  }

  /* ********* INICIO ********** */

  .inicio .texto-bienvenida {
    margin-top: 5%;
    font-size: 2rem;
  }

  .texto-inicio {
    width: 80%;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 5%;
  }

  .slogan {
    font-size: 1.4rem;
  }

  .inicio_horario p {
    font-size: 1.5rem;
    padding: 1.5rem;
    line-height: 2.5rem;

  }

  /* ******Hero-Images******** */
  .carousel-wrapper {
    width: 680px;
    height: 420px;
  }

  .carousel-container {
    width: 600px;
    height: 400px;
  }

  .carousel {
    width: 1800px;
    height: 400px;
  }

  .carousel>div {
    width: 600px;
    height: 400px;
    background-size: cover;
    background-position: center;
  }

  @keyframes sliding {
    30% {
      transform: translateX(0);
    }

    35% {
      transform: translateX(-600px);
    }

    65% {
      transform: translateX(-600px);
    }

    70% {
      transform: translateX(-1200px);
    }

    98% {
      transform: translateX(-1200px);
    }

    100% {
      transform: translateX(0);
    }
  }

  /* ********************** Servicios ********************** */
  .grid {
    display: grid;
    width: 100%;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 45%);
    align-items: start;
    justify-content: center;
  }

  /* *************Contacto **************************/
  .texto-direccion,
  .texto-correo,
  .texto-telefono {
    font-size: 1.5rem;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 1.2rem;
  }

  /* ******Cita******* */
  .cita .texto-cita {
    font-size: 1.5rem;
  }

  .btn-cita {
    max-width: 240px;
    height: 90px;
  }

  .btn-cita div span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    padding: 0.75em 1.125em;
  }

  .btn-cita:hover div {
    transform: translateY(-90px);
  }

  .btn-cita p {
    font-size: 1.5rem;
  }

  /* ************Contacto***************** */
  .separador {
    font-size: 1.5rem;
  }
}