@media screen and (min-width: 768px) {

  /* *****************HEADER************************ */
  .logo {
    font-size: 3rem;
  }

  .menu-container {
    width: 90%;
    visibility: visible;
    opacity: 1;
  }

  .menu-container .menu {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
  }


  .menu-container .menu .enlace {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    font-size: 1.4rem;
    overflow: hidden;
    color: black;
    z-index: 1;
    text-decoration: none;
    border: thin solid transparent;
    outline: none;
  }

  .enlace:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }

  .enlace:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #39bda7;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }

  .enlace:hover {
    color: #ffffff;
    border: 1px solid #39bda7;
  }

  .enlace:hover:before {
    top: -35%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }

  .enlace:hover:after {
    top: -45%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }


  .menu a:hover {
    cursor: pointer;
    background-color: #dce4e7;
  }

  /* ********* INICIO ********** */
  .inicio {
    border: thin solid red;
  }

  .inicio .texto-bienvenida {
    margin-top: 5%;
    font-size: 2rem;
  }

  .texto-inicio {
    width: 80%;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .slogan {
    font-size: 1.4rem;
  }

  /* ******Hero-Images******** */

  @media screen and (max-width: 768px) {
    .carousel-wrapper {
      width: 312px;
      height: 210px;
    }

    .carousel-container {
      width: 240px;
      height: 150px;
    }

    .carousel {
      width: 720px;
    }

    .carousel>div {
      width: 240px;
      height: 150px;
    }

    @keyframes sliding {
      30% {
        transform: translateX(0);
      }

      35% {
        transform: translateX(-240px);
      }

      65% {
        transform: translateX(-240px);
      }

      70% {
        transform: translateX(-480px);
      }

      98% {
        transform: translateX(-480px);
      }

      100% {
        transform: translateX(0);
      }
    }
  }
}