/* ***** FCustom properties ***** */
:root {
  --color-principal: #49a0b1;
}

/* ***** Reset ***** */
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Fraunces', serif;
  background-image: url(assets/foxtail.png);
  background-repeat: repeat;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;

}

/* ***** Generales ***** */
a {
  text-decoration: none;
  color: black;
}



/* ****************************************************** */

.main {
  width: 100%;
  /* height: 100%; */
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: thin solid red;
}

/* *****************HEADER************************ */
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 76%;
  height: 93px;
  text-align: center;
}

.logo {
  font-size: 2.5rem;
  margin: 0;
}

hr {
  width: 70%;
  margin: 0;
}

.menu-container {
  width: 76%;
  opacity: 0;
  visibility: hidden;
}

.menu-container nav {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
}


.menu-container .menu .enlace {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 1rem;
  color: black;
  z-index: 1;
  text-decoration: none;
  border: thin solid transparent;
  outline: none;
}

.enlace:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.enlace:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #39bda7;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.enlace:hover {
  color: #ffffff;
  border: 1px solid #39bda7;
}

.enlace:hover:before {
  top: -35%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.enlace:hover:after {
  top: -45%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}


.menu a:hover {
  cursor: pointer;
  background-color: #dce4e7;
}

/* ********************** INICIO ********************* */
.inicio {
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
}

.inicio h3 {
  font-size: 1.4rem;
  margin: 0;
}

.slogan {
  font-family: sans-serif;
  font-size: 1rem;
}

.texto-inicio {
  width: 100%;
  font-family: sans-serif;
  font-size: 1rem;
  margin-top: 10%;
  line-height: 1.5rem;
  text-align: center;
}

.inicio_horario {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  border-radius: 10px;
  margin: 20px auto 10px;
}

.inicio_horario p {
  line-height: 2rem;
  margin-top: 0;
  font-weight: bold;
}

.inicio_horario img {
  width: 100%;
  object-fit: contain;
}

.inicio_horario h4 {
  margin-bottom: 0;
}

/* **************Hero-Images**************** */
.carousel-wrapper {
  border: thin solid red;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  border-radius: 20px;
  overflow-x: hidden;
}

.carousel-container {
  /* width: 600px; */
  width: 100%;
  /* height: 450px; */
  height: auto;
  overflow: hidden;
  margin: 0 auto;
}

.carousel {
  display: flex;
  /* width: 1800px; */
  width: 100%;
  animation: sliding 10s infinite;
}

.carousel div {
  width: 200px;
  height: 100px;
  background-size: cover;
  background-position: center;
  border: solid red thin;
}

.carousel:hover {
  animation-play-state: paused;
}

.carousel .image-one {
  background-image: url("assets/carousel1.jpg");
}

.carousel .image-two {
  background-image: url("assets/carousel2.jpg");
}

.carousel .image-three {
  background-image: url("assets/carousel3.jpg");
}

@keyframes sliding {
  30% {
    transform: translateX(0);
  }

  35% {
    transform: translateX(-400px);
  }

  65% {
    transform: translateX(-400px);
  }

  70% {
    transform: translateX(-800px);
  }

  98% {
    transform: translateX(-800px);
  }

  100% {
    transform: translateX(0);
  }
}

@media screen and (min-width: 1024) {

  .inicio {
    width: 60%;
  }

  .inicio h3 {
    font-size: 4rem;
    /* margin: 0; */
  }

  .slogan {
    /* font-family: sans-serif; */
    font-size: 1.2rem;
  }

  .texto-inicio {
    width: 100%;
    font-family: sans-serif;
    font-size: 1.5rem;
    margin-top: 10vh;
    line-height: 3rem;
  }

  .inicio_horario {
    width: 25rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
    border-radius: 20px;
    /* background-color: rgba(30, 30, 30, .2); */
    /* background-color: black; */
    /* opacity: .2; */
  }

  .inicio_horario p {
    line-height: 2rem;
    margin-top: 0;
    font-weight: bold;
  }

  .inicio_horario img {
    width: 100%;
    object-fit: contain;
  }

  .inicio_horario h4 {
    margin-bottom: 0;
  }

  /* **************Hero-Images**************** */

  .container-slides {
    width: 900px;
    height: 700px;
    border: thin solid red;
    position: relative;
  }

  .slides {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  img {
    width: 600px;
    height: 400px;
    object-fit: contain;
  }

  /* ******************************** */
  .carousel-wrapper {
    width: 680px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
    border-radius: 20px;
  }

  .carousel-container {
    width: 600px;
    height: 450px;
    overflow: hidden;
    margin: 0 auto;
  }

  .carousel {
    display: flex;
    width: 1800px;
    animation: sliding 10s infinite;
  }

  .carousel div {
    width: 600px;
    height: 450px;
    background-size: cover;
    background-position: center;
  }

  .carousel:hover {
    animation-play-state: paused;
  }

  .carousel .image-one {
    background-image: url("assets/carousel1.jpg");
  }

  .carousel .image-two {
    background-image: url("assets/carousel2.jpg");
  }

  .carousel .image-three {
    background-image: url("assets/carousel3.jpg");
  }

  @keyframes sliding {
    30% {
      transform: translateX(0);
    }

    35% {
      transform: translateX(-600px);
    }

    65% {
      transform: translateX(-600px);
    }

    70% {
      transform: translateX(-1200px);
    }

    98% {
      transform: translateX(-1200px);
    }

    100% {
      transform: translateX(0);
    }
  }
}

@media screen and (max-width: 768px) {
  .carousel-wrapper {
    width: 312px;
    height: 210px;
  }

  .carousel-container {
    width: 240px;
    height: 150px;
  }

  .carousel {
    width: 720px;
  }

  .carousel>div {
    width: 240px;
    height: 150px;
  }

  @keyframes sliding {
    30% {
      transform: translateX(0);
    }

    35% {
      transform: translateX(-240px);
    }

    65% {
      transform: translateX(-240px);
    }

    70% {
      transform: translateX(-480px);
    }

    98% {
      transform: translateX(-480px);
    }

    100% {
      transform: translateX(0);
    }
  }
}

/* ********************** Servicios ********************** */
.servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.servicios h3 {
  font-size: 2rem;
}

@media (max-width: 60em) {
  body {
    padding: 2rem;
  }
}

.grid {
  display: grid;
  width: 100%;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  align-items: start;
}

@media (max-width: 60em) {
  .grid {
    grid-gap: 1rem;
  }
}

.grid__item {
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
  cursor: pointer;
  transition: 0.2s;
}

.grid__item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.card__img {
  display: block;
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

.card__content {
  padding: 1rem 1rem;
}

.card__header {
  font-size: 1.5rem;
  font-weight: 500;
  color: #0d0d0d;
  margin-bottom: 1.5rem;
}

.card__text {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #3d3d3d;
  margin-bottom: 2.5rem;
}

.card__btn {
  display: block;
  width: 100%;
  padding: .5rem;
  font-size: 1rem;
  text-align: center;
  color: #3363ff;
  background-color: #e6ecff;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
}

.card__btn span {
  margin-left: 1rem;
  transition: 0.2s;
}

.card__btn:hover,
.card__btn:active {
  background-color: #dce4ff;
}

.card__btn:hover span,
.card__btn:active span {
  margin-left: 1.5rem;
}

/* *************Contacto **************************/

.contacto {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.datos-contacto {
  width: 100%;
  border: solid thin red;
}

.direccion,
.telefono,
.correo {
  width: 100%;
  margin-top: 2rem;
}

.direccion p {
  margin: 0;
}

.direccion .logo-direccion,
.correo .logo-correo,
.telefono .logo-telefono {
  width: 20px;
  height: 20px;
  display: inline;
  margin-right: 1rem;
}

.datos-contacto .direccion,
.datos-contacto .correo,
.datos-contacto .telefono {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.datos-contacto h3 {
  font-size: 2rem;
  margin: 0;
}


.mapa iframe {
  width: 100%;
  height: auto;
  margin-top: 10%;
  border: thin solid red;

}

.formulario {
  width: 100%;
}

.contact-form {
  padding: 1rem;
  max-width: 800px;
}

.contact-form>* {
  margin: 1rem auto;
  padding: 0.5rem;
  display: block;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  font-size: 0.85rem;
  font-family: var(--font);
}

.contact-form input {
  border: 0;
  border-bottom: thin solid black;
  padding-left: 0;
}

.contact-form input[type="submit"] {
  margin-top: 0;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.contact-form input[type="submit"]:hover {
  background-color: #0d0d0d;
  color: #fff;
}

.contact-form::placeholder {
  color: var(--gray-dark-color);
}

.contact-form textarea {
  border: 0;
  border-bottom: thin solid black;
  resize: none;
}

.none {
  display: none;
}

/* ********** Modal ********** */
.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-alpha-color);
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
}

.modal-content {
  position: relative;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modal-close svg {
  width: 3rem;
  height: 3rem;
  fill: var(--first-color);
}

.modal[id|="trabajo"]:target {
  opacity: 1;
  pointer-events: auto;
}

/*Modal*/
.modal#gracias:target {
  opacity: 1;
  pointer-events: auto;
}

.contact-form-response {
  padding: 1rem;
  width: 40%;
  text-align: center;
  background-color: var(--white-color);
}

.contact-form-response svg {
  margin-top: 2rem;
  width: 4rem;
  height: 4rem;
  fill: var(--first-color);
}

/* ****** Footer ************/

.footer {
  width: 100%;
  margin-top: 10vh;
  display: block;
  text-align: center;
  margin-bottom: 0;
}

.footer .derechos {
  font-weight: bold;
}